.aside {
    margin: 45px auto;

    max-width: 438px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    color: #FFFFFF;

    &__company {
        margin-top: 19px;

        font-weight: 300;
        font-size: 48px;
        line-height: 121.9%;

        letter-spacing: 0.145em;
        text-transform: uppercase;
    }

    &__company-type {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        
        color: #FEFEFE;
    }

    &__list {
        margin-top: 20px;

        display: flex;
        flex-direction: column;
    }
    &__item {
        padding-top: 9px;
        padding-bottom: 9px;
        border-bottom: 1px solid #FFFFFF;

        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
    &__huge {
        display: block;

        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
    }

    &__nav {
        margin-top: 57px;

        &-list {
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
        }
        &-item {
            width: 50%;

        }
        &-link {
            display: block;
            margin: 0 auto; 

            width: 164px;
            padding-top: 10px;
            padding-bottom: 10px;

            border: 1px solid #FFFFFF;
            border-radius: 50px;

            font-weight: 400;
            font-size: 18px;
            line-height: 21px;

            transition: all 0.5s;

            &:hover {
                background-color: rgba(255, 255, 255, 0.721);
                color: #000;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .aside {
        flex-direction: row;
        justify-content: space-evenly;
        max-width: unset;
        margin: 12px auto;

        &__logo {
            width: 48px;
        }
        &__company, &__company-type, &__list {
            display: none;
        }
        &__nav {
            margin-top: 0;
            &-list {
                flex-wrap: nowrap;
                gap: 20px;
            }
            &-link {
                width: 132px;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .aside {
        flex-direction: column;

        &__logo {
            width: 80px;
        }
        &__company {
            margin-top: 12px;

            display: block;

            font-size: 28px;
        }
        &__nav {
            &-list {
                flex-wrap: wrap;
                justify-content: center;
                gap: 19px;
                row-gap: 6px;
            }
            &-item {
                width: auto;
            }
            &-link {
                width: 118px;

                padding-top: 6px;
                padding-bottom: 6px;
            }
        }
    }
}