.contacts {
    margin-top: 46px;
    &__title {
        padding-left: 18px;
        padding-right: 18px;

        font-weight: 300;
        font-size: 48px;
        line-height: 56px;

        color: #445469;
    }

    &__inner {
        margin-top: 61px;
        padding-left: 33px;
        padding-right: 33px;

        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        color: #4D4F58;

        margin-bottom: 0;
    }
    &__address {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;

        color: #737572;
    }
    &__tel, &__mail {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        color: #74C4CF;
        &:hover {
            color: #74C4CF;
        }
    }
    &__map {
        margin-top: 30px;
        height: 555px;
    }
}

@media screen and (max-width: 1440px) {
    .contacts {
        &__map {
            height: 420px;
        }
    }
}

@media screen and (max-width: 760px) {
    .contacts {
        margin-top: 26px;

        &__title {
            padding-left: 10px;
            padding-right: 10px;
            
            font-size: 40px;
            line-height: 48px;
        }
        &__inner {
            margin-top: 30px;
            padding-left: 15px;
            padding-right: 15px;

            gap: 18px;
        }
        &__map {
            height: 250px;
        }
    }
}