.cta {
    display: flex;
    color: #fff;

    &__green, &__grey {
        width: 50%;
    }

    &__grey {
        padding-left: 40px;
        padding-right: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: 'Roboto';
        font-style: italic;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        background: #4D4F58;

        position: relative;
        z-index: 2;

        &:after {
            position: absolute;
            z-index: -1;
            content: '';

            width: 100px;
            height: 100px;
            background: #4D4F58;

            right: -10px;
            top: 50%;
            transform: translateY(-50%) rotateZ(45deg);
        }
    }
    &__green {
        background: #74C4CF;
        padding: 46px 15px 45px 40px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;

        // min-width: 440px;
    }
    &__phone {
        margin-top: 44px;

        font-weight: 700;
        font-size: 34px;
        line-height: 40px;

        transition: all 0.5s;
        &:hover {
            color: rgb(227, 227, 227);
        }
    }
    &__worktime {
        margin-top: 5px;

        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
    &__button {
        border: none;
        background: transparent;

        color: #fff;
        transition: all 0.5s;

        margin-top: 15px;

        display: flex;
        align-items: center;
        gap: 15px;

        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        img {
            transition: all 0.5s;
        }

        &:hover {
            img {
                transform: rotateZ(180deg);
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .cta {
        flex-direction: column;

        &__grey, &__green {
            width: auto;
        }
        &__grey {
            height: 250px;

            padding-left: 20px;
            padding-right: 20px;

            font-size: 20px;
            line-height: 23px;

            &::after {
                right: 50%;
                transform: translateX(50%) rotateZ(45deg);
                top: unset;
                bottom: -7px;
            }
        }
        &__green {
            padding: 50px 15px 22px;

            align-items: center;
        }
        &__img {
            width: 51px;
        }
        &__phone {
            font-size: 25px;
            line-height: 30px;
        }
        &__worktime {
            font-size: 15px;
            line-height: 18px;
        }
        &__button {
            font-size: 20px;
            line-height: 23px;
        }
    }
}