@import 'base/reset';
@import 'base/vars';
@import 'base/mixins';
@import 'base/fonts';

// base settings
img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
// end of base settings

* {
    font-family: 'Roboto', sans-serif;
}

@import 'blocks/main';
@import 'blocks/biginfo';
@import 'blocks/page-grid';
@import 'blocks/aside';
@import 'blocks/services';
@import 'blocks/serv-card';
@import 'blocks/proj-rev';
@import 'blocks/cta';
@import 'blocks/footer';
@import 'blocks/about';
@import 'blocks/projects';
@import 'blocks/contacts';
@import 'blocks/more';
@import 'blocks/form';